body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f7f7f7;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}



nav  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3b5998;
  color: white !important;
}

nav .logo {
  font-size: 3rem;
  align-self: flex-end;
  /* margin-top: 0.2rem; */
  /* margin-bottom: 0.1rem; */
  font-weight: bold;
  margin-bottom: 0.7rem;
  margin-left : 1.2rem;
}

 /* FLEX Denemesi */
/* nav form {
  display: flex;
  flex-direction: row;
}

nav form .nav-email,
nav form .nav-pwd
 {
  margin: 0 1rem 0 1rem;
    display: flex;
  flex-direction: column;
}

nav form div label {
  margin: 0.8rem 0 0.4rem 0;
}

nav form .div-login {
  height: 0.8rem; 
  /* margin: 1rem 0.5rem 1rem  ; */   /*
}

nav form .login-btn {
  background-color: rgb(66,103,178);
  color: white; 
  padding: 0.2rem 0.2rem;
  text-align: center;
  margin: 1rem; 
}
 */






 nav form {
   margin-top: 0.9rem;
   margin-right: 0.9rem;
   
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.1rem;
}

nav form input {
  width: 142px;
  font-size: 12px;
  margin: 0.1rem 0rem 0.1rem 0;
}

nav form label {
  opacity: 0.8;
 
}



nav form .nav-grid-1 {
  margin-bottom: 0rem;  
}

nav form .nav-grid-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-bottom: 0rem;
}
nav form .nav-grid-3 {
  grid-row-start: 2;
  grid-row-end:4;
  margin-right: 1.2rem; 
}

nav form .nav-grid-5 {
  margin: auto 0.8rem auto 0.8rem;   
}
nav form .nav-grid-5 button {
  background-color: rgb(66,103,178);
  border: solid 1px black ;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

nav form .nav-grid-5 button:hover {
  background-color: rgb(8, 59, 155);
}

nav form .nav-grid-6 {
  padding-bottom: 0.4rem;
  padding-bottom: 0.4rem;
}

nav form .nav-grid-6 .forgotten-pwd {
  margin-bottom: 8rem;
  color: #9CB4D8;
  color:rgb(156,180,216);
}


.flex-container {
  display: flex;
  flex-direction: row;
  background: #f7f7f7;
  direction: ltr;  
}


.flex-container div:first-child {
  flex-basis: 0;
  
}
.flex-container div:last-child {
  flex-basis: 0;
}

.flex-container .facebook-helps {
  width: 100%;
  margin: 3rem 0 1rem 1.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #080b1f;
}

.form-container {
  float: right;
}

.sign-up-container {
  position: absolute;
  width: 42vw;
  right: 2rem;
  float: right;
  margin-right: 0px;
  padding-right: 0;
}


.flex-container .sign-up-container  .signup-header {
  font-size: 2.5rem;

  color: #333;
  font-weight: bold;
  margin: 1.5rem 0 0 0;
}

.flex-container .sign-up-container  .short-def {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  padding: 3px 0 3px 0;
  margin-bottom: .6rem !important;
}


.form-container {
  display: flex;
  flex-direction: rows;
}

.sign-up-container form {
  display: flex;
  flex-direction: column;
}

  /* All children */
.sign-up-container form > * {
  margin: 0rem 0 0.2rem 0;
}

.sign-up-container form .nav-grid-1 {
  display: flex;
  flex-direction: row;
}

.sign-up-container form input {
  height: 1.8rem;
  margin-bottom: 0.4rem;
  text-indent: 0.8rem;
  font-size: 1.2rem;
  border: solid 1px #ccc;  
  border-radius: 4px;
}


.sign-up-container form .nav-grid-1 #first-name {
  width: 50%;
  margin-right: 10px;
}

.sign-up-container form .nav-grid-1 #last-name {
  width: 50%;
  margin-left: 10px;
}

.birthday-gender {
  color: #888 ;
  font-size: 1.3rem;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0.4rem;
  /* margin-bottom: 0.8rem; */
}

.birthday-select {
  margin-top: 5rem;
}


.birthday-select select {
  height: 2rem;
  font-size: .9rem;
  padding: 0 0.8rem 0 0.3rem;
  margin: 0 0.1rem 0 0.1rem;
}

.gender-selection {
  margin: 8rem;
  padding-bottom: 0.3rem;
}

.gender-selection div {
  font-size: 20px;
}

.gender-selection div input {
  margin: 0rem 0.3rem 0rem 0.9rem;

}


.gender-selection a,
.birthday-select a {
  margin-left: 2rem;
  /* background-color: #333;
  border-radius: 50%;
  padding: 0.15rem;
  margin: 1rem;
  vertical-align: middle;
  background-position-x: 0%;
  background-position-y: 0%; */
  
}



.gender-selection  a i,
.birthday-select a i {
  font-size: 0.6rem;
  background: #555;
  display: inline-block;
  border-radius: 50%;
  align-self: center;
  padding: 0.4rem;
  color: #ddd;
}

form .policies-text {
  max-width: 70%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  color: #888;
  font-size: 0.9rem;
}

.policies {
  text-decoration: none;
  color: #3b71e6;
  font-size: 0.9rem; 

}

.policies:hover {
  text-decoration: underline;
}

form .signup-button {
  width: 45%;
  display: inline-block;
  background: #2baf11;
  font-size: 1.4rem;
  border: 1px solid #448844;
  border-radius: 5px;
  color: white;
  padding: 8px 4px;
  margin-bottom: 2.3rem;
}


.page-create-text {
  max-width: 70%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  color: #555;
  font-size: 1rem;
}


.page-create-text  .page-create {
  text-decoration: none;
  font-weight: bold;
  color: #133785e1;
}






